.App {
  text-align: center;
}
.input-wrapper {
  & .ant-input-affix-wrapper:focus-within {
    box-shadow: none;
  }

  & .ant-input-affix-wrapper .ant-btn:hover {
    background-color: transparent;
    color: #a18a68;
  }
}
